# Korrekte Identität (Name und E-Mail für mamekudz)
mamekudz <meinolf@amekudzi.de>

# Alle problematischen Aliase, die korrigiert werden müssen (jede Zeile ist ein Alias):
mamekudz <meinolf@amekudzi.de> <meinolf.amekudzi@dosing-gmbh.de>
mamekudz <meinolf@amekudzi.de> MAMDOSING <meinolf.amekudzi@dosing-gmbh.de>
mamekudz <meinolf@amekudzi.de> Meinolf Amekudzi <meinolf.amekudzi@dosing-gmbh.de>
mamekudz <meinolf@amekudzi.de> meinolf.amekudzi <meinolf.amekudzi@dosing-gmbh.de>